/* @media only screen and (min-width: 600px) {
  main {
    display: flex;
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courgette", cursive;
}
body {
  background-image: url(../images/pexels-julie-aagaard-2097090.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}


.container {
  display: inline;
  column-gap: 30px;
}

.food-form,
.drink-form {
  background-color: rgba(0, 0, 255, 0.25);
  border-radius: 5px;
  padding: 2%;
  margin: 1%;
}

.hide {
  display: none;
}

.dropdown {
  margin: 1%;
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-item {
  width: 100%;
}

.formSubmit {
  display: flex;
  justify-content: center;
}

.submitBtn {
  width: 90%;
  margin: 1%;
}

.foodSearchResultsBody {
  background-image: url(../images/pexels-daria-shevtsova-1095550.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 2%;
}

.searchResultsMain {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: center;
}

.food-result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

/* Drink Results HTML */
.drink-result {
  font-family: "Courgette", cursive;
  background-image: url(../images/pexels-cottonbro-4686940.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* Food and Cocktail Recipes Brand */
.my-brand {
  font-size: 30px;
}
/* Cocktail Instructions */
.my-list {
  text-align: left;
}
/* Save Recipe Button */
.my-btn {
  background-color: rgb(189, 225, 255);
  font-size: 15px;
  border-radius: 5px;
}
.my-btn:hover {
  background-color: rgb(134, 201, 255);
}

.resultsBtn {
  margin-top: 2%;
}

/* Drink Results HTML */
.drink-result {
  font-family: "Courgette", cursive;
  background-image: url(../images/pexels-cottonbro-4686940.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* Food and Cocktail Recipes Brand */
.my-brand {
  font-size: 30px;
}

/* Save Recipe Button */
.my-btn {
  background-color: rgb(189, 225, 255);
  font-size: 15px;
  border-radius: 5px;
}
.my-btn:hover {
  background-color: rgb(134, 201, 255);
}
