/* @media only screen and (min-width: 600px) {
  main {
    display: flex;
  }
} */

body {
  background-image: url(../images/pexels-julie-aagaard-2097090.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 2%;
}

.container {
  display: inline;
  column-gap: 30px;
}

.food-form,
.drink-form {
  background-color: rgba(0, 0, 255, 0.25);
  border-radius: 5px;
  padding: 2%;
  margin: 1%;
}

.hide {
  display: none;
}

.dropdown {
  margin: 1%;
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-item {
  width: 100%;
}

.formSubmit {
  display: flex;
  justify-content: center;
}

.submitBtn {
  width: 90%;
  margin: 1%;
}
